apiVersion: v1
kind: Service
metadata:
  name: bookstore
  labels:
    app: bookstore
spec:
  ports:
    - port: 80
      targetPort: 5000
  selector:
    app: bookstore
  type: LoadBalancer
---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: efs-sc
provisioner: efs.csi.aws.com
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: bookstore-efs-pv
spec:
  capacity:
    storage: 5Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: efs-sc
  csi:
    driver: efs.csi.aws.com
    volumeHandle: fs-0692c08b9c82d7dcc 
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: bookstore-efs-pvc
  labels:
    app: bookstore
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: efs-sc
  resources:
    requests:
      storage: 5Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bookstore
  labels:
    app: bookstore
spec:
  selector:
    matchLabels:
      app: bookstore
  replicas: 1
  template:
    metadata:
      labels:
        app: bookstore
    spec:
      serviceAccountName: efs-csi-controller-sa  
      containers:
      - name: bookstore
        image: tebanduarte2/bookstore:latest    
        ports:
        - containerPort: 5000
        env:
        - name: DB_HOST
          value: "bookstore-db.cb0m6ouewtu7.us-east-1.rds.amazonaws.com"
        - name: DB_PORT
          value: "3306"
        - name: DB_NAME
          value: "bookstore"
        - name: DB_USER
          value: "admin"
        - name: DB_PASSWORD
          value: "bookstore#1397Ltlt."
        volumeMounts:
        - name: uploads-storage
          mountPath: /app/uploads
      volumes:
      - name: uploads-storage
        persistentVolumeClaim:
          claimName: bookstore-efs-pvc
